<.flash_group flash={@flash} />
<nav>
      <div class="flex gap-4 p-4">
            <a class="text-xl" href="/">Home</a>
            <a class="text-xl" href="/about">About</a>
      </div>
</nav>
<h1>hello ini about</h1>