<.flash_group flash={@flash} />
<nav>
  <div class="flex gap-4 p-4">
    <a class="text-xl" href="/">Home</a>
    <a class="text-xl" href="/about">About</a>
  </div>
</nav>
<div class="min-h-screen flex items-center justify-center">
  <h1 class="text-3xl text-center ">Hai, Ini Adalah Project Phoenix Pertama saya</h1>
</div>